/*
 * @Author: kun.xi 
 * @Date: 2019-08-14 18:05:33 
 * @Last Modified by: xikun
 * @Last Modified time: 2019-09-04 14:32:10
 */


/* 字体图标，依赖font-awesome */
@import '//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css';

/* @import '../cdn/icon.css'; */

/* 垂直方向上振动 */
.fa-vibrate-y {
    animation: fa-vibrate-y 1.5s infinite ease-in;
}

.fa {
    display: inline-block;
    text-align: center;
}

/* 振动轨迹 */
@keyframes fa-vibrate-y {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}